body{
    margin: 0%;
    padding: 0%;
    font-family: 'Anton', sans-serif;
    background-color: rgb(249, 245, 245);
}
.container{
    height: auto;
    width: 100%;
}
.firstbox{
    height: 27px;
    color: white;
    background-color: rgb(20, 20, 89);
    width: 100%;
    display: flex;
    flex-direction: row;
}
.bharatsarkar{
    color: white;
    text-decoration: none;
    font-family: 'Anton', sans-serif;;
}
.bharatsarkar:hover{
    color: white;
    text-decoration: underline;
    font-family: 'Anton', sans-serif;
}
.firstboxchild {
    margin-left: 45px;
    font-size: 13px;
    padding-top: 2px;
    width: 20%;
}
.firstboxchild1 {
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-left: 37%;
    display: flex;
    align-items: center;
}
.secondbox{
    width: 100%;
    height: 117px;
    flex-direction: column;
}
.logo{
    height: 100px;
    width: 200px;
    display: flex;
    margin-top: 20px;
    margin-left: 60px;
}
.secondlogo{
    width: 200px; 
    margin-top: -115px;
    margin-left: 640px;
}
.heading{
   margin-left: 975px;
   margin-top: -50px;
   color: #c41010;
   font-family: 'Anton', sans-serif;
}
.modiji{
    margin-top: -133px;
    margin-left: 1267px;
}
ul{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
li{
    margin: 10px;
    display: flex;
    text-decoration: none;
    cursor: pointer;
}
.navbar{
    height: 35px;
    width: 100%;
    background-color: rgb(20, 20, 89);
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 14px;
}
.vl {
    border-right: 1px solid rgb(255, 255, 255);
    height: 35px;
}
.vl1 {
    border-right: 1px solid rgb(255, 255, 255);
    height: 27px;
}
.googleicon{
    height: 26px;
    width: 26px;
    background-color: white;
}
.inputlang{
    height: 20px;
    width: 130px;
}
.input-group{
    display: flex;
    text-align: center;
}
.paramarquee{
    font-size: 16px;
    color: #c41010;
    font-weight: bold;
}
.btn1 {
    height: 38px;
    width: 370px;
    border: 2px solid rgb(0, 132, 255);
    margin-left: 70%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    color: rgb(0, 132, 255);
    font-weight: bold;
}
.btn1:hover{
    height: 38px;
    width: 370px;
    border: 2px solid #c41010;
    margin-left: 70%;
    border-radius: 25px;
    cursor: pointer;
    color: rgb(37, 37, 133);
}
.digitellogo{
    height: 33px;
    margin: -10px;
}
.buttona{
    text-decoration: none;
    color: rgb(0, 132, 255);
}
.buttona:hover{
    text-decoration: none;
    color: rgb(37, 37, 133);
}
.mainbox {
    height: 540px;
    width: 1370px;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    box-shadow: 7px 7px 7px 5px rgb(193, 193, 177)
}
.mainbox1{
    height: 540px;
    width: 685px;
    background-color: rgb(210, 210, 188);
}
.mainboxp{
    margin-left: 25px;
    color: rgb(20, 20, 89);
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 40px;
}
.mainboxhr{
    width: 150px;
    margin-left: 25px;
}
.aadhar{
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: -10px;
}
h4{
    color: rgb(9, 9, 12);
    margin-left: 25px;
    margin-top: 0px;
}
.hrforall{
    margin-left: 25px;
    margin-right: 25px;
}
.selfbtn {
    height: 45px;
    width: 595px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-left: 43px;
    color: white;
    background-color: rgb(51, 146, 213);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgb(232, 149, 76);
    text-shadow: 3px 3px 3px rgb(232, 149, 76);
}
.form{
    margin-left: 40px;
    margin-top: 35px;
}
.number{
    font-size: 14px;
    font-weight: bold;
}
.inputnumber{
    height: 30px;
    width: 190px;
    border: 2px solid black;
    border-radius: 5px;
}
.star{
   color: #ea0505;  
}
.captcha{
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}
.captchaimg {
    width: 170px;
    height: 30px;
    margin-top: 20px;
    margin-left: 50px;
}
.captchadiv{
    display: flex;
}
.reload {
    color: #0fa6e4;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}
.inputcaptcha{
    height: 30px;
    width: 110px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 17px;
}
.member{
    font-weight: bold;
    font-size: 12px;
}
.checkbox{
    font-size: 15px;
    font-weight: bold;
}
.note{
    display: flex;
    color: green;
    font-size: 13px;
    margin-top: -1%;
}
.hnote{
    font-size: 15px;
    margin-top: 11px;
}
.eligible{
    font-size: 14px;
    color: rgb(255, 5, 5);
    font-weight: bold;
    margin-top: 0px;
}
.sendbtn {
    height: 32px;
    width: 95px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 275px;
    margin-top: 18px;
    color: white;
    background-color: rgb(177, 177, 177);
    border: none;
}
.photo{
    margin-top: 68px;
    margin-left: 68px;
    height: 130px;
    width: 1370px;
    background-color: white;
    box-shadow: 2px 2px 2px rgb(211, 206, 206);
    display: flex;
    align-items: center;
}
.imglogo{
    height: 80px;
    margin: 10px;
}
.lastfooter{
    background-color: rgb(11, 11, 132);
    height: 70px;
    margin-top: 30px;
}
.footerh4{
    color: white;
    padding-top: 15px;
    padding-left: 70px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}
.footerh5{
    color: rgb(255, 200, 0);
    font-weight: bold;
    font-size: 14px;
    margin-left: 70px;
    margin-top: 3px;
}